<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282613537131-tcj6fp0958ugp42unsf251go1bckpp0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282613537131-tcj6fp0958ugp42unsf251go1bckpp0r</string>
	<key>API_KEY</key>
	<string>AIzaSyBCGqZ2wFLRNyF9CNiDVnFbu-gUpBbcqoM</string>
	<key>GCM_SENDER_ID</key>
	<string>282613537131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.inTarget</string>
	<key>PROJECT_ID</key>
	<string>intarget-63fb5</string>
	<key>STORAGE_BUCKET</key>
	<string>intarget-63fb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282613537131:ios:711c59762b37b8cc91942e</string>
</dict>
</plist>